body{

	background: url(../img/bg.jpg) repeat;
	background-size:cover;
	margin: 0;
	color: white;
	font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif; 
	font-weight: bold;
}
.welcome {
	background: url(../img/welcome.png) repeat;
	background-size:cover;
}
.index {
	background: url(../img/index.jpg) repeat;
	background-size: cover;
}

ul li{
    list-style-type: none;
}


.sign_in
{
	margin: 20px auto;
	margin-right: 20px;
	width: 90px;
	height: 40px;
	background: #9B8300;
	border-radius: 10px;
	border: 0px solid #C0A16B;
	font-weight: 700;
	font-size: 19px;
	color: white;
	transition: all 0.5s;
}
.sign_in:hover {
	background-color: #B0A777;
}
.sign_up
{
	margin: 20px auto;
	margin-right: -80px;
	width: 90px;
	height: 40px;
	background: #9B8300;
	border-radius: 10px;
	border: 0px solid #C0A16B;
	font-weight: 700;
	font-size: 19px;
	color: white;
	transition: all 0.5s;
}
.sign_up:hover {
	background-color: #B0A777;
}
.title{
	margin: 150px auto 50px auto;
	font-weight: 700;
	color: #9B8300;
}

.sign_in_form{
	margin-top: 100px;
	margin: 50px auto;

}

.sec_btn_g{
	margin: 100px auto;
	width: 940px;
	display: inline-block;

}

.sec_btn{
    margin: auto 250px;
    margin-top: 50px;
    display: block;
	width: 200px;
	height: 100px;
	border-radius: 10px;
	border: 0px solid #FFA100;
	padding: 0px;
	transition: all 0.5s;
	font-weight: 700;
    font-size: 30px;
    /*font-weight: bold;*/
    font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif; 
	color: #FFFFFF;
	background:#9B8300;
}

.sec_btn:hover {
	background-color: #B0A777;
}
.msg_add {
	float: right;
	margin: 10px 10px auto auto;
	width: 100px;
	height: 50px;
	background-color: #9B8300;
	border-radius: 10px;
	border: 0px solid;
	font-size: 18px;
	transition: all 0.5s;
}
.msg_add:hover {
	background-color: #B0A777;
}
.msg_back {
	float: right;
	margin: 10px 5px auto auto;
	width: 100px;
	height: 50px;
	background-color: #9B8300;
	border-radius: 10px;
	border: 0px solid;
	font-size: 18px;
	transition: all 0.5s;
}
.msg_back:hover {
	background-color: #B0A777;
}
.un_input{
	margin: 20px auto;
	width: 350px;
	height: 45px;
	border-radius: 10px;
	text-align: center;
	font-size: 25px;
    color: #444444;
	border: 2px solid #9B8300;
	background-color: #FCF8E3;
}

.pw_input{
    margin: 20px auto;
	width: 350px;
	height: 45px;
	text-align: center;
	font-size: 25px;
	border-radius: 10px;
    color: #444444;
	border: 2px solid #9B8300;
	background-color: #FCF8E3;
}

.btn_g{
	margin: 30px auto;
	width: 324px;
	height: 200px;
	border-radius: 20px;
	transition: all 0.5s;
}

.cencer{
	margin: 0px 20px;
	width: 120px;
	font-weight: 700;
	border-radius: 10px;
	border: 0px solid #9B8300;
}

.join{
	margin: 0px 20px;
	width: 120px;
	font-weight: 700;
	font-size: 20px;
	border-radius: 10px;
	border: 0px solid #C0A16B;
	transition: all 0.5s;
}

.forget{
	width: 120px;
	font-weight: 700;
}

.aside{
	float: left;
	position:relative;
	margin: 100px auto;

	height: auto;
	border-radius: 10px;
	border: 5px solid burlywood;
	background-color: #C0A16B;
}

.level{
    margin-top: 10px;
	margin-bottom: 10px;
	width: 90%;
	height: auto;
	color: white;
    text-align: center;
	font-size: 26px;
}

.level a{
	color: white;
}

.main{
	float: left;
	position:relative;
	margin: 50px auto;
	margin-left: 30px;
	/*width: 1000px;*/
	padding: auto;
}

.bs_g{
	position: relative;
	margin: auto;
	width: 48%;

}

.bag_btn{
	position: relative;
	float: left;
	height: 45px;
	width: 120px;
	background-color: #C0A16B;
	border-radius: 10px;
	border: 2px solid burlywood;
	color: white;
	font-size: 20px;
}

.search_btn{
	position: relative;
	margin-right: -200px;
	border-radius: 10px;
	background-color: #9B8300;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	padding: 0px;
	width: 120px;
	height: 45px;
	transition: all 0.5s;
	cursor: pointer;

}
.search_btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.search_btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -22px;
  transition: 0.5s;
}

.search_btn:hover span {
  padding-right: 25px;
}
.search_btn:hover span:after {
  opacity: 1;
  right: 0;
}
.search_frame{
	margin: 300px auto;
	position: relative;
	width: 400px;
}

.search_input{
	position: relative;
	height: 45px;
	width: 330px;
	border-radius: 10px;
	border: 2px solid #9B8300;
    color: #9B8300;
	font-size: 22px;
	text-align: center;
	background-color: rgba(250,250,230,0.7);
}

.search_bn{
	position: relative;
	margin-left: 10px;
	height: 45px;
	width: 55px;
	background-color: transparent;
	border: 0px;
}

.search_back_bn{
	position: relative;
	margin-right: 10px;
	height: 45px;
	width: 100px;
	background: #9B8300;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border: 2px solid burlywood;
	color: white;
	font-size: 20px;
}


.sea_res_list{
	margin:30px auto;
	width: 90%;
}

.sea_res_list .level{
	margin:10px auto;
	width: 100%;
	height: auto;
	color: white;
	font-size: 26px;
}

.cate_li{
	position: relative;
	padding: auto;
	margin: 30px auto;
	height: auto;
}

.cate_li .cate{
	float: left;
	margin: 0px 15px 50px 15px;
	width: auto;
	height: auto;
	text-align: center;
}

.cate_li .cate .cate_pho{
	margin: auto;
	width: 150px;
	height: 150px;
	border-radius: 10px;
	border: 5px solid #FFFFFF;
	background-color: #D6E9C6;
}

.cate_li .cate .cate_te{
	font-size: 18px;
	color: white;
}

.per_left{
	margin: 0px 30px 20px 10px;
	height: 560px;
	background-color: rgba(190,160,110,0.7);
	border-radius: 20px;
	border: 2px solid antiquewhite;
}

.per_main{
    position: relative;
	height: 560px;
	background-image: url('../img/personal.jpg');
	background-size: cover;
	border-radius: 20px;
	border: 0px solid antiquewhite;
}
.per_main_search{
    position: relative;
	height: 560px;
	background-color: #FFA100;
	border-radius: 20px;
	border: 0px solid antiquewhite;
}

.per_pho{
	position: relative;
	margin: 60px auto auto auto;
	width: 160px;
	height: 160px;
	border-radius:50%;
	border: 3px solid white;
}

.per_name{
	position: relative;
	margin: 30px auto;
	width: 100%;
	color: white;
	text-align: center;
	font-size: 20px;
}

.inventory{
	position: relative;
	margin: 25px auto;
	width: 90%;
	font-size: 25px;
	text-align: center;

}

.page{
	position: relative;
	width: 370px;
	height: auto;
    margin: 20px auto;
}

.pagefirst{
	width: 40px;
	height: auto;
	line-height: 15px;
	background-color: #C0A16B;
	font-size: 18px;
}

.pageend{
	width: 40px;
	height: auto;
	line-height: 15px;
	background-color: #C0A16B;
	font-size: 18px;
}

.pagelr{
	width: 40px;
	height: auto;
	line-height: 15px;
	background-color: #C0A16B;
	font-size: 18px;
}

.pagenum{
	width: 100px;
	text-align: center;
	font-size: 18px;
	color: #985f0d;
}

.repasswd{
	height: 40px;
	width: 300px;
	border-radius: 10px;
	border: 2px solid #9B8300;
    color: #444444;
	font-size: 20px;
	text-align: center;
	background-color: #FCF8E3;
}

.person_btn{
    margin-top: 30px;
	height: 45px;
	width: 200px;
	background-color: #9B8300;
	border-radius: 10px;
	border: 0px solid burlywood;
	color: #FFFFFF;
	font-size: 16px;
	transition: all 0.5s;
}
.person_btn:hover{
	background-color: #B0A777;
}
.person_setting{
	height: 45px;
	width: auto;
	background-color: #9B8300;
	border-radius: 10px; 
	border: 0px solid burlywood;
	color: #FFFFFF;
	font-size: 16px; 
	transition: all 0.5s;
}
.person_setting:hover {
	background-color: #B0A777
}
.cancel_btn{
	float:right;
	margin:30px 10px auto auto;
	height: 45px;
	width: 100px;
	background-color: #9B8300;
	border-radius: 10px;
	border: 0px solid burlywood;
	color: #FFFFFF;
	font-size: 20px;
	transition: all 0.5s;
}
.cancel_btn:hover{
	background-color: #B0A777;
}
.save_btn{
	float:right;
	margin:30px 10px auto auto;
	height: 45px;
	width: 100px;
	background-color: #9B8300;
	border-radius: 10px;
	border: 0px solid burlywood;
	color: #FFFFFF;
	font-size: 20px;
	transition: all 0.5s;
}
.save_btn:hover{
	background-color: #B0A777;
}
.per_back{
    height: 45px;
    width: 120px;
    background-color: #9B8300;
    border-radius: 10px;
    border: 0px solid burlywood;
    color: #FFFFFF;
    font-size: 20px;
    transition: all 0.5s;
}
.per_back:hover{
	background-color: #B0A777;
}

.per_search{
	float: right;
	margin: 10px 30px;
    height: 45px;
    width: 120px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid burlywood;
    color: #C0A16B;
    font-size: 20px;
}


.add_btn{
	float: right;
	margin-right: 10px;
	width: 100px;
	height: 50px;
	background: #9B8300;
	border-radius: 10px;
	border: 0px solid;
	transition: all 0.5s;
}
.add_btn:hover{
	background-color: #B0A777;
}

.bag_bottom{
    position: relative;
	height: 80px;
}


input[type="checkbox"]{
    -webkit-appearance: none;
    vertical-align:middle;
    margin-top:0;
    background:#fff;
    border:#999 solid 1px;
    border-radius: 3px;
	width: 20px;
	height: 20px;
    min-height: 12px;
    min-width: 12px;
}
input[type="checkbox"]:checked {
    background: #8d8f6b;
}

input[type=checkbox]:checked::after{

}


