<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/s/js/jquery.min.js"></script>
        <script src="/s/js/bootstrap.min.js"></script>
        <script src="/s/js/layer/layer.js"></script>
        <link rel="stylesheet" href="/s/css/bootstrap.min.css"></link>
	    <link rel="stylesheet" href="/s/css/style.css"></link>
	</head>
	<body>
		<div class="container">
			<div class="navbar">
			    <div class="nav navbar navbar-right">
		            <a class="btn sign_in" href="/signin">SIGN IN</a>
		            <a class="btn sign_up" href="/signup">SIGN UP</a>
			    </div>
			</div>
		
			<div class="">
				<a href="/second"><img class="per_pho center-block" src="/s/img/pho1.jpeg" /></a>
			</div>
		</div>
	</body>
</html>
