<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/s/js/jquery.min.js"></script>
        <script src="/s/js/bootstrap.min.js"></script>
        <script src="/s/js/layer/layer.js"></script>
        <link rel="stylesheet" href="/s/css/bootstrap.min.css"></link>
	    <link rel="stylesheet" href="/s/css/style.css"></link>
	</head>
	<body class="welcome">
		<div class="container">
			<div class="navbar">
			    <div class="nav navbar navbar-right">
		            <a class="btn sign_in" href="/signin">Sign In</a>
		            <a class="btn sign_up" href="/signup">Sign Up</a>
			    </div>
			</div>
		</div>
	</body>
</html>
