<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/s/css/bootstrap.min.css"/>
	    <link rel="stylesheet" href="/s/css/style.css"/>
	    <link rel="stylesheet" href="/s/css/header.css"/>
        <script src="/s/js/jquery.min.js"></script>
        <script src="/s/js/bootstrap.min.js"></script>
        <script src="/s/js/jquery-3.3.1.min.js"></script>
        <script src="/s/js/js.cookie.js"></script>
        <script src="/s/js/layer/layer.js"></script>
	    <script src="/s/js/routine.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div>
				<h1 class="text-center title">SIGN IN</h1>

				<form class="sign_in_form">

				    <input class="center-block un_input" id="username" type="text" name="username" placeholder="USERNAME"/>
					<input class="center-block pw_input" id="password" type="password" name="password" placeholder="PASSWORD"/>

                    <div class="btn_g center-block">
  				        <a class="btn btn-danger join" href="/">CANCEL</a>
				        <a class="btn btn-success join" href="javascript:login();">LOG IN</a>
				    </div>
				</form>
			</div>
		</div>
	</body>
</html>
