<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/s/css/bootstrap.min.css"/>
	    <link rel="stylesheet" href="s/css/style.css"/>
        <script src="/s/js/jquery.min.js"></script>
        <script src="/s/js/bootstrap.min.js"></script>
        <script src="/s/js/jquery-3.3.1.min.js"></script>
        <script src="/s/js/js.cookie.js"></script>
        <script src="/s/js/layer/layer.js"></script>
        <script src="/s/js/routine.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div>
				<h1 class="text-center title">SIGN UP</h1>
				<form class="sign_in_form">
				    <input class="center-block un_input" type="text" name="username" id="username" placeholder="USERNAME"/>
				    <input class="center-block un_input" type="text" name="first_name" id="first_name" placeholder="FIRST NAME"/>
  				    <input class="center-block un_input" type="text" name="last_name" id="last_name" placeholder="LAST NAME"/>
                    <input class="center-block pw_input" type="password" name="password" id="password" placeholder="PASSWORD"/>
   				    <div class="btn_g center-block">
  				        <a class="btn btn-danger join" href="/">CANCEL</a>
                        <a class="btn btn-success join" href="javascript:regedit()">SIGN UP</a>
	                </div>
				</form>
			</div>
		</div>
	</body>
</html>

