<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="s/js/vue.min.js"></script>
        <script src="/s/js/layer/layer.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '#app',
            data: {
                message: 'haha...'
            },
        })
    </script>
</head>
<body>
    <h1>En</h1>
    <div id="app">
        <p>{{ message }}</p>
    </div>
</body>
</html>

{#/*input[type=checkbox]:checked::after{*/#}
{#    /*content: '';*/#}
{#    /*top: 3px;*/#}
{#    /*left: 3px;*/#}
{#    /*position: absolute;*/#}
{#    /*background: transparent;*/#}
{#    /*border: #fff solid 2px;*/#}
{#    /*border-top: none;*/#}
{#    /*border-right: none;*/#}
{#    /*height: 6px;*/#}
{#    /*width: 10px;*/#}
{#    /*-moz-transform: rotate(-45deg);*/#}
{#    /*-ms-transform: rotate(-45deg);*/#}
{#    /*-webkit-transform: rotate(-45deg);*/#}
{#    /*transform: rotate(-45deg);*/#}
{#/*}*/#}